In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


# read dataset
df = pd.read_excel('Case Study_Junior Data Analyst.xls')
df
df.sample()
df.head(3)

# understand the dataset
df.shape
df.dtypes
df.columns
df.info()

# check for missing values
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction_ID    50 non-null     int64
 1   Date              50 non-null     object
 2   Product_Category  50 non-null     object
 3   Product_Name      50 non-null     object
 4   Unit_Price        50 non-null     int64
 5   Quantity          50 non-null     int64
 6   Customer_Age      50 non-null     int64
 7   Customer_Gender   50 non-null     object
 8   Sales_Channel     50 non-null     object
dtypes: int64(4), object(5)
memory usage: 3.6+ KB

Transaction_ID      0
Date                0
Product_Category    0
Product_Name        0
Unit_Price          0
Quantity            0
Customer_Age        0
Customer_Gender     0
Sales_Channel       0
dtype: int64

In [29]:
# convert unnecessary entriesinto valid entries in Product_category
df['Product_Category'].value_counts()
df['Product_Category'] = df['Product_Category'].replace(to_replace=['Electranics','Faxhion','Home Appllances'],value=['Electronics','Fashion','Home Appliances'])
df['Product_Category'].value_counts()

Product_Category
Electronics        17
Home Appliances    17
Fashion            16
Name: count, dtype: int64

In [40]:
# check for duplicate values
df['Transaction_ID'].duplicated().sum()
df['Date'].duplicated().sum()
df['Product_Name'].value_counts()

50

In [45]:
# convert unnecessary entriesinto valid entries in Customer_gender
df['Customer_Gender'].value_counts()
df['Customer_Gender'] = df['Customer_Gender'].replace({'Man':'Male','Femele':'Female','Famale':'Female','Maie':'Male','Femle':'Female'})
df['Customer_Gender'].value_counts()

Customer_Gender
Female    32
Male      18
Name: count, dtype: int64

In [46]:
df['Sales_Channel'].value_counts()

Sales_Channel
Online      28
In-store    22
Name: count, dtype: int64

In [3]:
# Sales column
df['Sale Price'] = df['Unit_Price'] * df['Quantity']
df['Sale Price']

0     2400
1      800
2      300
3      900
4     1200
5      250
6      150
7      150
8      160
9      300
10     200
11      80
12     300
13      80
14     300
15     200
16      60
17      75
18     100
19      80
20      40
21     500
22      60
23      30
24     400
25     140
26     120
27      80
28      50
29      75
30    1000
31      50
32     200
33      60
34      30
35     120
36      80
37      50
38      70
39      50
40      20
41      80
42      30
43     120
44      45
45      40
46      70
47      60
48      45
49      80
Name: Sale Price, dtype: int64

In [ ]:
# corrected dataset
df