#### 1 . Libraries required

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('youtube_dislike_dataset.csv')
df

In [ ]:
# colummns of the dataframe
df.columns

#### Top 5 and Bottom 5 records

In [ ]:
df.head(5)

In [ ]:
df.tail(5)

#### 2. Info and Shape of DataFrame

In [ ]:
# shape of the DataFrame
df.shape

In [ ]:
# info of the DataFrame
df.info()

#### Inferences
* There are 12 columns in this dataset.
* Out of these 12 columns there are 4 numerical columns and others are object datatype columns.

#### 3. Percentage of the missing values

In [ ]:
# finding the missing values
df.isnull().sum()

In [ ]:
# percentage of missing values
df['comments'].isnull().sum()/df['comments'].shape[0] *100
# there are 158 missing values in which contributes 0.42 % of the comments column.

#### Dropping the comments column

In [ ]:
df = df.drop(columns = 'comments')

In [ ]:
df

#### 4. Statistical summary

In [ ]:
df.describe()

In [ ]:
df.nunique()

#### 5. Convert datatype of column published_at from object to pandas datetime.

In [ ]:
df['published_at'].dtype

In [ ]:
# converting object dtype to pandas datetime dtype
df['published_at']= pd.to_datetime(df['published_at'])

In [ ]:
df['published_at']

In [ ]:
df['published_at'].info()

#### 6. Create a new column as 'published_month' using the column published_at (display the months only)

In [ ]:
df['published_month'] =df['published_at'].dt.month
df['published_month']

#### 7. Replace the numbers in the column published_month as names of the months i,e., 1 as 'Jan', 2 as 'Feb'
and so on.....

In [ ]:
df['published_month'] = df['published_month'].replace({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})

In [ ]:
df['published_month']

#### 8. Find the number of videos published each month and arrange the months in a decreasing order based on the video count..

In [ ]:
# number of videos published each month
df.groupby(by ='published_month')['video_id'].count().sort_values(ascending =False)

#### 9. Find the count of unique video_id, channel_id and channel_title.

In [ ]:
# count of unique video_id
pd.DataFrame(df['video_id'].value_counts())

In [ ]:
# count of  channel_id
pd.DataFrame(df['channel_id'].value_counts())

In [ ]:
# count of channel_title
pd.DataFrame(df['channel_title'].value_counts())

#### 10. Find the top10 channel names having the highest number of videos in the dataset and the bottom10 having lowest number of videos...

In [ ]:
# Top 10 having more video count
df.groupby(by='channel_title')['video_id'].count().sort_values(ascending = False).head(10)

In [ ]:
# Bottom 10 having less video count
df.groupby(by='channel_title')['video_id'].count().sort_values(ascending = True).head(10)

#### 11. Find the title of the video which has the maximum number of likes and the title of the video having minimum likes and write your inferences..

In [ ]:
#  title of the video which has the maximum number of likes
df.groupby(by='title')['likes'].sum().sort_values(ascending = False).head(1)

# 'BTS () 'Dynamite' Official MV' has the maximum number of likes

In [ ]:
#  title of the video which has the minimum number of likes
df.groupby(by='title')['likes'].sum().sort_values(ascending = True).head(1)

# 'Kim Kardashian's Must-See Moments on "Saturday Night Live" | E! News' has the least number of likes

#### 12. Find the title of the video which has the maximum number of dislikes and the title of the video having minimum dislikes and write your inferences.

In [ ]:
# title of the video which has the maximum number of dislikes
df.groupby(by='title')['dislikes'].sum().sort_values(ascending = False).head(1)

#  'Cuties | Official Trailer | Netflix' has more number of dislikes

In [ ]:
# title of the video which has the minimum number of dislikes
df.groupby(by='title')['dislikes'].sum().sort_values(ascending = True).head(1)

# 'Kim Kardashian's Must-See Moments on "Saturday Night Live" | E! News' has the the least number of dislikes.

#### 13. Does the number of views have any effect on how many people disliked the video? Support your answer with a metric and a plot.

In [ ]:
df.columns

In [ ]:
# finding the correlation
correlation = df['view_count'].corr(df['dislikes'])
print(f'The correlation coefficient :',correlation )

In [ ]:
# plotting the relation
plt.figure(figsize=(8,4))
plt.scatter(x=df['view_count'],y=df['dislikes'])
plt.xlabel('Number of views')
plt.ylabel('Number of dislikes')
plt.title('Number of views Vs Number of dislikes')
plt.show()

#### This indicates that there is a linear relationship between viewcount and dislikes.

#### 14. Display all the information about the videos that were published in January, and mention the count of videos that were published in January..

In [ ]:
df.columns

In [64]:
pd.DataFrame(df.groupby(by='published_month')['video_id'].count().sort_values())[1:2]

 # The number of videos published in January month = 2108

                 video_id
published_month
Jan                  2108

In [61]:
pd.pivot_table(df,index=['published_month'],values=['likes','dislikes','view_count','comment_count'],aggfunc='mean')[4:5]

                 comment_count     dislikes          likes    view_count
published_month
Jan                8923.385199  3614.568311  131502.994307  4.976449e+06

In [62]:
# Information on videos published in January month

pd.pivot_table(df,index=['published_month'],values=['likes','dislikes','view_count','comment_count'],aggfunc='mean').loc['Jan']

comment_count    8.923385e+03
dislikes         3.614568e+03
likes            1.315030e+05
view_count       4.976449e+06
Name: Jan, dtype: float64